/*Utility Class*/
.boxHelper {
  color: #fff;
  background-color: #000;
  text-align: center;
}
.hide
{
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box; 
}


/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

/*

font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Anton', sans-serif;

*/

body
{
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}


ul {
  list-style-type: none;
}

/* HEADER*/ 
#Header {
  padding: 20px;
}
#Header .header_nav{
  text-align: center;
  
} 

#Header .header_nav ul{
  padding: 0;
  
} 





/* FORM STARTS */

.log_content {
  width: 100%;
}


.logIn_Form {
  background-color: #DEF1FE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  height: 559px;
  max-width: 354px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin-top: 89px;
  margin-bottom: 89px;

}

#form h2 {
  color: #6C6C6C;
  font-size: 31px;
  margin: 60px 0px 0px 0px;
}

#form h3 {
  color: #6C6C6C;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}


#form img {
  max-width: 131px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 32px;
}

#form #btn_send {
  margin-bottom: 18px;
  background-color: #fff;

  width: 94px;
  height: 27px;
  border: 2px solid #0068FF;
  color:  #0068FF;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: 300ms ease-in-out;
}

#form #btn_send:hover {
  background-color: #0068FF;
  color: #fff;

}


input {
  margin-left: auto;
  margin-right: auto;
  background-color: #F4F4F4;
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 65%;
  margin-bottom: 18px;
  font-size: 16px;
  border-radius: 10px;

}

.bannerLogIn {
  display: none;
}

#form p{
  margin: 0;
  font-size: 12px;
}

#form p span a{
  margin: 0;
  font-size: 12px;
  color: #FF0000;
  font-weight: 600;
}

/*---FOOTER--*/

footer {
  background-color: #12A99A;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 18px;

}

footer ul{
  padding: 0;
  font-size: 18px;

}

footer ul li{
  color: #DBDBDB;

}

@media screen and (min-width: 600px) {
#Header .header_nav ul li{
  display: inline-block;
  padding: 20px;
  
} 

}

@media screen and (min-width: 840px) {
#Header .header_nav ul li{
  display: inline-block;
  padding: 20px;
  
} 
.header_nav {
  float: right;
  width: 80%;
}
.logo {
  float: left;
  width: 20%;
}

}


@media screen and (min-width: 800px) {
  .log_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .log_content .bannerLogIn {
    background-color: #FFFFF3;
    font-size: 30px;
    color: #464646;
    width: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logIn_Form {
    width: 50%;
  }
  .headerNav ul li {
    text-align: right;
  }

}
